Checks: >
  -*,
  readability-identifier-naming,
  google-*,
  bugprone-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type

CheckOptions:
  # types
  - { key: readability-identifier-naming.ClassCase,        value: CamelCase }
  - { key: readability-identifier-naming.StructCase,       value: CamelCase }
  - { key: readability-identifier-naming.EnumCase,         value: CamelCase }

  # functions
  - { key: readability-identifier-naming.FunctionCase,     value: CamelCase }
  - { key: readability-identifier-naming.FunctionIgnoredRegexp, value: '^vibra_.*' }
  - { key: readability-identifier-naming.PublicMethodCase, value: CamelCase }

  # (1) Allowing snake_case for google C++ style setters and getters. but not allowed for other functions.
  #     => If there is a solution to check the function is a setter or getter, please implement it.
  - { key: readability-identifier-naming.PublicMethodIgnoredRegexp, value: '^(set_[a-z0-9_]+|[a-z0-9_]+)$' }
  - { key: readability-identifier-naming.PrivateMethodCase,value: camelBack }

  # namespaces
  - { key: readability-identifier-naming.NamespaceCase,    value: lower_case }

  # variables
  - { key: readability-identifier-naming.VariableCase,     value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,    value: lower_case }

  # class / struct members
  - { key: readability-identifier-naming.MemberCase,       value: lower_case }

  # (1) private and protected members are only allowed in classes
  - { key: readability-identifier-naming.PrivateMemberSuffix,     value: "_" }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: "_" }

  # (2) public members are only allowed in structs
  - { key: readability-identifier-naming.PublicMemberSuffix,     value: "" }

  # constants
  # (1) All constants default to kCamelCase
  - { key: readability-identifier-naming.ConstantCase,     value: CamelCase }
  - { key: readability-identifier-naming.ConstantPrefix,   value: k }

  # (2) class internal const members are exceptions and use snake_case_
  #     => Ignore Constant rule, apply Member rule instead
  - { key: readability-identifier-naming.ConstantIgnoredRegexp, value: '^[a-z0-9_]+_$' }
