# ignore everything
*

# Unignore all files with extensions
!*.*

# Unignore all directories
!*/

# Unignore makefile
!Makefile

*.o
*.out
.vscode/
__pycache__/
build/

# Unignore LICENSE
!LICENSE

# Ignore .DS_Store
.DS_Store

# Unignore cli/clipp
!cli/args

# Unignore Dockerfile
!Dockerfile

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# TypeScript
*.tsbuildinfo
dist/
